{% if dutchMonthName == "januari" %}
    <h2>Het begint met januari</h2>
    <p>
        Het jaar 2016 begint met <strong>januari</strong>. Deze maand kenmerkt zich door lage temperatuur en de vele nieuwjaarswensen
        die men over en weer krijgt en geeft aan vrienden, bekenden en relaties. Ook staat de eerste week traditioneel
        gezien ook nog een klein beetje in het teken van de oudejaars-kater, het niet winnen van de jackpot bij de
        <strong>Oudejaarstrekking</strong> en de restanten van het lauwe pils en baggervette oliebollen van wat een leuke
        avond had kunnen worden.
    </p>
    <p>
        Veel mensen grijpen de start van het nieuwe jaar aan om het bestaande levenspatroon aan te passen. <strong>1 januari</strong>
        beginnen dan ook veel goede voornemens zoals het stoppen met roken, het gezonder gaan eten, meer gaan bewegen
        en aardiger doen tegen je schoonmoeder. Vaak zijn dit voornemens die men nastreeft om de gezondheid te vergroten
        of een beter mens te worden voor zichzelf en zijn of haar omgeving. Helaas zijn veel van deze voornemens voordat
        februari is begonnen alweer gesneuveld.
    </p>
{% endif %}

{% if dutchMonthName == "februari" %}
<h2>In februari alles op de rit</h2>
<p>
    Zodra de kalender de <strong>tweede maand van 2016</strong> aan geeft lijkt de jaarwisseling definitief tot het verleden te behoren.
    In deze koude maand is er nog wel ruimte voor een klein beetje warmte, liefde en genegenheid. Rondom <strong>14 februari</strong>
    gaat de commercie los met <strong>Valentijnsdag</strong>, waar men de liefde kan verklaren aan een tot dan toe nog
    onbereikbare liefde.

</p>
{% endif %}

{% if dutchMonthName == "maart" %}
    <h2>Maart sluit het eerste kwartaal af</h2>
    <p>
        In de maand maart loopt het eerste kwartaal van het jaar op zijn einde. Als deze maand is afgelopen zitten de eerste
        drie maanden van het jaar er weer op. De balans wordt opgemaakt. Welke goede voornemens staan nog overeind en
        ben je na het inschrijven bij die goedkope sportschool eigenlijk nog een keer terug geweest om je kerstkilos
        eraf te sporten?
    </p>
    <p>
        De winter loopt ten einde en maakt plaats voor de lente. Het vooruitzicht dat de dagen weer meer licht gaan bevatten
        en de temperaturen omhoog gaan maakt dat de meeste mensen weer zin krijgen in de zomer{{ "!"|escape }}
    </p>
{% endif %}

{% if dutchMonthName == "april" %}
    <h2>April doet wat hij wil</h2>
    <p>
        Hoewel de lente intussen echt is begonnen, kan het vierde kwartaal van 2016 nog best koud starten. Sterker nog
        <strong>aprilletje zoet, geeft nog wel eens een witte hoed</strong>. Of dat ook in 2016 het geval zal zijn
        is op voorhand niet goed te zeggen. Maar het kan zeker nog dat je je autoruiten sneeuwvrij moet maken.
    </p>
{% endif %}

{% if dutchMonthName == "mei" %}
    <h2>Mei is de maand van het ei</h2>
    <p>
        Het is bij veel schoolgaande kinderen wel bekend. Dat was vroeger en dat is in 2016 nog steeds <strong>In mei leggen alle vogeltjes een ei</strong>{{ "!"|escape }}
        En met die wetenschap weet je dat de de koude dagen echt achter ons liggen en de bloemen weer gaan bloeien.
    </p>
    <p>
        Maar het is niet altijd reden voor feest. De maand mei is voor veel mensen met een of andere vorm van hooikoorts,
        pollenallergie of stuifmeelintolleantie het begin van een hel. Loopneuzen, benauwdheid, piepende longen en hoesten.
        Veel van hen verlangen bij het uitbreken van de eerste mooie meidagen direct weer naar de koude wintermaanden. Toen
        de grond bedekt was met sneeuw en de bomen nog niet in bloei stonden.
    </p>
{% endif %}

{% if dutchMonthName == "juni" %}
<h2>In juni zijn we op de helft</h2>
<p>
    In juni sluiten we het tweede kwartaal van 2016 af. Als deze maand ten einde is hebben we de eerste 6 maanden van
    2016 achter de rug en hebben we er nog 6 voor de boeg. Maar eerst gaan we nog lekker van de zomer genieten die straks
    echt van start gaat.
</p>
<p>
    Mensen met een vakantiehuisje of caravan zijn vorige maand al begonnen om ervoor te zorgen dat ze straks lekker in hun
    vakantieoord een tweede thuis hebben. Als er geen ernstige stormen zijn geweest treffen ze het meestal weer aan zoals
    ze het hebben achtergelaten. In juni maken ze het werk zoveel mogelijk af zodat de zomer van 2016 niet meer stuk kan{{ "!"|escape }}
</p>
{% endif %}

{% if dutchMonthName == "juli" %}
<h2>Juli juli july</h2>
<p>
    <strong>Bert Heerink</strong> zong er al over. <strong>Juli, alles mag en niets moet</strong>{{ "!"|escape }} Goed, hij dat het
    dan welliswaar over een dame waar hij van alles dacht te kunnen doen maar de maand juli is ook zeker niet te versmaden.
</p>
<p>
    Mensen gaan op vakantie, trekken erop uit en zoeken zon, zee en strand op. Massaal trekken we naar Turkije, Spanje of de Zeeuwse
    en Scheveningse stranden. Vele Nederlanders die vakantie vieren in eigen land nemen urenlange files voor lief
    voor dat kleine beetje verfrissing.
</p>
{% endif %}

{% if dutchMonthName == "augustus" %}
    <h2>Augustus is keizerlijk warm</h2>
    <p>
        Augustus is een heerlijke zomermaand en maakt bij veel mensen het beste los. Als je in juli nog niet hebt kunnen
        genieten van het zomerse weer, krijg je in augustus meestal een tweede kans. Deze moet je dan wel nemen, want
        de pret is er dan wel echt vanaf.
    </p>
{% endif %}

{% if dutchMonthName == "september" %}
    <h2>September brengt de <strong>R</strong> in de maand</h2>
    <p>
        Met het aanbreken van de negende maand van 2016 sLuiten we het derde kwartaal af. Maar, nog wel veel ingrijpender,
        we maken kennis met <strong>de R in de maand</strong>. De herfst staat voor de deur, de dagen gaan nu rap afkoelen
        en de frisse zomersalade zal snel plaats gaan maken voor heerlijk zoete stoofpeertjes.
    </p>
{% endif %}

{% if dutchMonthName == "oktober" %}
    <h2>Oktober, tiende maand van het jaar</h2>
    <p>
        De tiende maand van 2016 is tevens de eerste van het laatste kwartaal. <strong>oktober 2016</strong> is ook dit jaar
        weer een maand van herfst, vallende bladeren en het verlengen van de nachten. De zwoele zomeravonden in de tuin
        zijn slechts een vage herinnering, uit een lang vervlogen tijd.
    </p>
{% endif %}

{% if dutchMonthName == "november" %}
    <h2>November de gekste</h2>
    <p>
        De elfde maand van 2016 is november. Het getal 11 staat ook bekend als het <strong>gekkengetal</strong>. Vandaar
        de gekozen titel: <strong>November de Gekste</strong>. Deze typische typische mid-herfst maand is het meest bekend
        om zijn kale bomen en bruine bladeren op de grond. Reinigingsdiensten en tuinmannen hebben hun handen vol aan
        het leeg maken van tuinen en straten.
    </p>
{% endif %}

{% if dutchMonthName == "december" %}
    <h2>Koning Winter komt in december</h2>
    <p>
        De laatste maand van het laatste kwartaal. We sluiten het jaar af met oer-hollandse tradities zoals Sinterklaasavond,
        een kerstmaal, vuurwerk en maar liefst twee kerstdagen EN een kerstavond. De laatste week van het jaar gaat het land
        (bijna) op slot en nemen veel mensen vrij om het gat tussen <strong>Kerst en Oud {{ "&"|escape }} Nieuw</strong> te dichten.
    </p>

    <p>
        Een slimme zet, want aangezien verreweg de meeste mensen automatisch vrij zijn met de kerstdagen, kan je met een
        investering van maximaal 5 dagen toch al snel anderhalve week thuisziten. En als de kerst een beetje gunstig
        valt ben je helemaal spekkoper.
    </p>

    <p>
        Na deze maand is het afgelopen met 2016. Maar vrees niet{{ "!"|escape }} Wij komen weer terug. En je kan al meteen door naar
        het overzicht van <a href="http://nationale-feestdagen-2017.nl/januari">januari 2017</a>{{ "!"|escape }} Proost{{ "!"|escape }}
    </p>
{% endif %}
