{% extends "StefaniusNationalHolidayBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container mtb">
        <div class="row">

          {% include 'StefaniusNationalHolidayBundle:YearOverides:List/overides.html.twig' %}

        </div>
    </div>

    <div class="container mtb">
        <div class="row">

            <h2>Overzicht {{ page.domainYear }}</h2>
            <table class="table-striped table-hover">
                <thead>
                    <tr>
                        <th>Omschrijving</th>
                        <th>Datum</th>
                    </tr>
                </thead>

                {% for date in dates %}
                    <tr>
                        {% if date.bankHoliday %}
                            <td><strong>{{ date.description|e }} {{ date.startdate|date("Y") }}</strong></td>
                        {% else %}
                            <td>{{ date.description|e }} {{ date.startdate|date("Y") }}</td>
                        {% endif %}
                        <td>{{ date.startdate|date("d/m/Y") }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div> <! --/row -->
    </div><! --/container -->

{% endblock %}