{% extends "StefaniusNationalHolidayBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container mtb">
        <div class="row">

          {% include 'StefaniusNationalHolidayBundle:YearOverides:List/overides.html.twig' %}

        </div>
    </div>

    <div class="container mtb">
        <div class="row">

            {% include 'StefaniusNationalHolidayBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}

            <h2>Overzicht {{ page.domainYear }}</h2>
            <table class="table table-striped table-hover">

                {% for date in dates %}
                    <tr>
                        {% if date.bankHoliday %}
                            <td><strong>{{ date.description|e }} {{ date.startdate|date("Y") }}</strong></td>
                        {% else %}
                            <td>{{ date.description|e }} {{ date.startdate|date("Y") }}</td>
                        {% endif %}

                        <td>{{ date.startdate|localize('%A %d %B %Y')|capitalize }}</td>

                        <td>Week {{ date.startdate|localize('%V') }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'StefaniusNationalHolidayBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}

        </div> <! --/row -->
    </div><! --/container -->

{% endblock %}